astroid==2.3.3
certifi==2019.11.28
chardet==3.0.4
Click==7.0
geoip2==3.0.0
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
maxminddb==1.5.2
mccabe==0.6.1
pef==1.1.0
pprint==0.1
progress==1.5
pylint==2.4.4
PyYAML==5.3
regex==2020.2.20
requests==2.23.0
six==1.14.0
typed-ast==1.4.1
urllib3==1.25.8
wrapt==1.11.2
